# Logs
logs
*.log
npm-debug.log*

# Environment Variables
.env


# Dependencies
node_modules/

# Build Files
dist/
build/

# Coverage
coverage/

# Vite
.vite/

# Cache
.cache/
.temp/

# OS Files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Misc
*.pid